<h1>Administration</h1>

<br />

<h2>Verwaltung</h2>
<ul style="padding: 0; margin: 0px auto;" type="none">
  
  <% if current_OZBPerson.canEditA then %>
    <li>
		<a href='/OZBPerson'>Personen</a>
		<ul>
			<li>Personen verwalten</li>
			<li>Konten verwalten</li>
			<li>KKL-Verlauf</li>
		</ul>
	</li>
  <% end %>
  
  <% if current_OZBPerson.canEditB then %>
    <li>
		<a href='/buergschaften'>Bürgschaften</a>
		<ul>
			<li>Bürgschaften verwalten</li>
		</ul>
	</li>
    <li>
		<a href='/kontenklasse'>Kontenklassen</a>
		<ul>
			<li>Kontentklassen verwalten</li>
		</ul>
	</li>
	<li>
		Zahlungseingangskontrolle
		<ul>
			<li>Zahlungseingänge verwalten</li>
		</ul>
	</li>
  <% end %>
    
  <% if current_OZBPerson.canEditC then %>
  <% end %>
  
  <% if current_OZBPerson.canEditD then %>
  <% end %>
  
</ul>

<br />

<h2>Reports</h2>
<ul style="padding: 0; margin: 0px auto;" type="none">
  <li><a href='/ozbKonten'>Konten</a></li>
  <li><a href='/adressen'>Adressen</a></li>
</ul>
