<h1>Administration</h1>

<br />

<h2>Verwaltung</h2>
<ul style="padding: 0; margin: 0px auto;" type="none">
  
    <li>
		<a href='/OZBPerson'>Personen</a>
		<ul>
			<li>Personen verwalten</li>
			<li>Konten verwalten (inkl. KKL-Verlauf)</li>
		</ul>
	</li>
	<li>
		<a href="#">Kontenanzeige</a>
		<ul>
			<li>Buchungen</li>
			<li>Salden</li>
			<li>Punkte</li>
		</ul>
	</li>
    <li>
		<a href='/buergschaften'>Bürgschaften</a>
		<ul>
			<li>Bürgschaften verwalten</li>
		</ul>
	</li>
	<li>
		<a href="#">Web-Import der Buchungen</a>
		<ul>
			<li>Saldenberechnung</li>
			<li>Punkteberechung</li>
		</ul>
	</li>
</ul>

<br />

<h2>Reports</h2>
<ul style="padding: 0; margin: 0px auto;" type="none">
  <li><a href='/ozbKonten'>Konten</a></li>
  <li><a href='/adressen'>Adressen</a></li>
</ul>
